.address-view {
    display: block;
    margin: 0 auto;
    max-width: 600px;
    padding: 0 var(--lumo-space-l);
    text-align: center;
}
.address-view .button-layout {
    margin-bottom: var(--lumo-space-l);
    margin-top: var(--lumo-space-m);
    display: flex;
    justify-content: center;

}
.v-Notification.mystyle {
    margin-bottom: var(--lumo-space-l);
    margin-top: var(--lumo-space-m);
    display: flex;
    justify-content: center;
}