
.catalog-view {
    display: block;
    height: 100%;
    margin: 0 auto;
    padding: 0 var(--lumo-space-l);
    text-align: center;
}
.catalog-view vaadin-grid-pro {
    height: 100%;
}
.catalog-view vaadin-grid-filter,
.catalog-view vaadin-grid-filter > * {
    width: 100%;
}
.catalog-view vaadin-grid vaadin-horizontal-layout {
    align-items: center;
}
.catalog-view vaadin-grid img {
    max-height: 7em;
}
.catalog-view .name {
    overflow: hidden;
    text-overflow: ellipsis;
}
.catalog-view .dialog{
    width: 500px;
}
.catalog-view .button-layout {
    margin-bottom: var(--lumo-space-l);
    margin-top: var(--lumo-space-m);
    display: flex;
    justify-content: center;
}